<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>996090838746-iqm6trndsva9bldksvkcn9j23dfj57pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996090838746-iqm6trndsva9bldksvkcn9j23dfj57pj</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ6wo7Heeut64xWeSnhcJY-rcR3wfHW_A</string>
	<key>GCM_SENDER_ID</key>
	<string>996090838746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.izorg.munchkin</string>
	<key>PROJECT_ID</key>
	<string>izorg-munchkin</string>
	<key>STORAGE_BUCKET</key>
	<string>izorg-munchkin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996090838746:ios:1ad03f1fb31adfb0</string>
	<key>DATABASE_URL</key>
	<string>https://izorg-munchkin.firebaseio.com</string>
</dict>
</plist>