:root {
  --dice-animation-duration: 0.15s;
}

.enter,
.leave {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.enter {
  transform: scale(0);
}

.enterActive {
  transform: scale(1);
  transition: transform var(--dice-animation-duration) ease-out var(--dice-animation-duration);
}

.leave {
  transform: scale(1);
}

.leaveActive {
  transform: scale(0);
  transition: transform var(--dice-animation-duration) ease-in;
}
