{
  "presets": [
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "version-inline"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        [
          "react-intl",
          {
            "messagesDir": "./messages/"
          }
        ]
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    },
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
