.idea
.vscode
coverage

/cordova/src/components/CordovaProvider/hideWindowsBackButton.ts
/cordova/src/components/FullVersionProvider/index.tsx
/cordova/src/components/KeyboardProvider/index.tsx
/cordova/src/components/StatusBarProvider/useStatusBar.ts
/cordova/Keyboard.d.ts
/cordova/platforms
/cordova/plugins
/cordova/StatusBar.d.ts
/cordova/store.d.ts
/cordova/www
/web
