{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:jest/all",
    "plugin:json/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["@emotion"],
  "rules": {
    "@emotion/syntax-preference": ["error", "string"],
    "import/no-extraneous-dependencies": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "newlines-between": "always"
      }
    ],
    "jest/consistent-test-it": ["error", { "withinDescribe": "test" }],
    "jest/lowercase-name": ["error", { "ignoreTopLevelDescribe": true }],
    "jest/prefer-expect-assertions": "off",
    "jest/require-top-level-describe": "off",
    "jsx-a11y/no-autofocus": ["error", { "ignoreNonDOM": true }],
    "no-console": ["error", { "allow": ["error", "warn"] }],
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "ignoreRestSiblings": true,
        "vars": "all"
      }
    ],
    "react-hooks/exhaustive-deps": "error",
    "react/jsx-sort-default-props": "error",
    "react/jsx-sort-props": [
      "error",
      {
        "ignoreCase": true,
        "reservedFirst": true
      }
    ],
    "react/prop-types": [
      "error",
      {
        "ignore": ["className", "style"]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/sort-prop-types": [
      "error",
      {
        "ignoreCase": true,
        "sortShapeProp": true
      }
    ],
    "sort-keys": [
      "warn",
      "asc",
      {
        "caseSensitive": false,
        "natural": true
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".mjs", ".jsx", ".js", ".json"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
