{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/forbid-prop-types": [
      true,
      {
        "forbid": [
          "match"
        ]
      }
    ]
  }
}
