**/generated/
.idea/*
!.idea/icon.svg
.parcel-cache/
.vscode/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.next/
coverage/
dist/
localized-files/
node_modules/
out/
parcel-bundle-reports/
platforms/
plugins/
screenshots/
test-results/
www/
.DS_Store
.env*.local
.eslintcache
.stylelintcache
build.json
firebase-debug.log
google-services.json
GoogleService-Info.plist
keystore.jks
tsconfig.tsbuildinfo
