.DS_Store
.env*.local
.eslintcache
.firebase
.idea/*
!.idea/icon.svg
.parcel-cache
.stylelintcache
.vscode
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
GoogleService-Info.plist
coverage
firebase-debug.log
google-services.json
node_modules
parcel-bundle-reports
tsconfig.tsbuildinfo

/packages/cordova/build.json
/packages/cordova/keystore.jks
/packages/cordova/platforms
/packages/cordova/plugins
/packages/cordova/www

/packages/site/.next
/packages/site/locales/generated
/packages/site/out

/packages/web/dist
/packages/web/l10n/generated
/packages/web/screenshots
/packages/web/src/localized-files
