.DS_Store
.env
.eslintcache
.firebase
.idea/*
!.idea/icon.svg
.stylelintcache
.vscode
coverage
firebase-debug.log
node_modules
tsconfig.tsbuildinfo

/languages/generated
/screenshots
/web

/cordova/build.json
/cordova/keystore.jks
/cordova/platforms
/cordova/plugins
/cordova/www
