.players {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.playerContainer {
  padding: 8px;
}

.remove {
  position: absolute !important;
  right: 16px;
  bottom: 16px;
}

@media all and (orientation: landscape) {
  .players {
    align-items: center;
    overflow: hidden;
  }

  .playerContainer {
    padding-left: 36px;
  }

  .remove {
    right: 8px;
    bottom: 8px;
  }
}
