.counter {
  text-align: center;
}

.title {
  font-family: 'Munchkin', 'Roboto', sans-serif;
  font-size: 24px;
}

.compact .title {
  font-size: 16px;
}

.value {
  font-family: 'Munchkin', 'Roboto', sans-serif;
  font-size: 36px;
}
