.stats {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  justify-content: center;
}

.counters {
  flex: 1 1 50%;
  display: flex;
}

.counterWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  justify-content: center;
}

@media all and (orientation: landscape) {
  .stats {
    flex-direction: row;
  }
}

