.container {
  position: relative;
}

.miniContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  position: relative;
  z-index: 2;
}

.expanded {
  transform: rotate(45deg);
}

.monster {
  left: 8px;
  position: absolute;
  top: -64px;
  z-index: 1;
}

.helper {
  left: 8px;
  position: absolute;
  top: -128px;
  z-index: 1;
}
