:root {
  --app-animation-duration: 0.4s;
}

.itemEnter,
.itemLeave {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.itemEnter {
  opacity: 0;
  transform: translateY(100%);
  z-index: 2;
}

.itemEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity var(--app-animation-duration) ease-out,
    transform var(--app-animation-duration) ease-out;
}

.itemLeave {
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
}

.itemLeaveActive {
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity var(--app-animation-duration) ease-in,
    transform var(--app-animation-duration) ease-in;
}
