:root {
  --app-animation-duration: 0.4s;
}

.app {
  background-color: #000000;
  height: 100%;
  position: relative;
}

.content {
  height: 100%;
}

.item {
  background-color: #FFFFFF;
  height: 100%;
}

.itemEnter,
.itemLeave {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}


/* Fade */
.fade.itemEnter {
  transform: scale(0.8);
}

.fade.itemEnterActive {
  transform: scale(1);
  transition: transform var(--app-animation-duration) ease-out;
}

.fade.itemLeave {
  opacity: 1;
  transform: scale(1);
}

.fade.itemLeaveActive {
  opacity: 0.8; /* IE/Edge blink fix */
  transform: scale(0.8);
  transition:
    opacity var(--app-animation-duration) ease-in,
    transform var(--app-animation-duration) ease-in;
}


/* Slider Horizontal */
.slideHorizontal.itemEnter {
  transform: translateX(100%);
  z-index: 2;
}

.slideHorizontal.itemEnterActive {
  transform: translateX(0);
  transition: transform var(--app-animation-duration) ease-out;
}

.slideHorizontal.itemLeave {
  transform: translateX(0);
  z-index: 2;
}

.slideHorizontal.itemLeaveActive {
  transform: translateX(100%);
  transition: transform var(--app-animation-duration) ease-in;
}


/* Slide Vertical */
.slideVertical.itemEnter {
  opacity: 0;
  transform: translateY(100%);
  z-index: 2;
}

.slideVertical.itemEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity var(--app-animation-duration) ease-out,
    transform var(--app-animation-duration) ease-out;
}

.slideVertical.itemLeave {
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
}

.slideVertical.itemLeaveActive {
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity var(--app-animation-duration) ease-in,
    transform var(--app-animation-duration) ease-in;
}
