.app {
  background-color: #000000;
  height: 100%;
  position: relative;
}

.content {
  height: 100%;
}

.item {
  background-color: #FFFFFF;
  height: 100%;
}

.fab {
  bottom: 24px;
  position: absolute;
  right: 24px;
  z-index: 3;
}
