.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layoutHeader {
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
}

.layoutContent {
  flex: 1 1 auto;
  overflow-y: auto;
}
