:root {
  --app-animation-duration: 0.4s;
}

.itemEnter,
.itemLeave {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.itemEnter {
  transform: translateX(100%);
  z-index: 2;
}

.itemEnterActive {
  transform: translateX(0);
  transition: transform var(--app-animation-duration) ease-out;
}

.itemLeave {
  transform: translateX(0);
  z-index: 2;
}

.itemLeaveActive {
  transform: translateX(100%);
  transition: transform var(--app-animation-duration) ease-in;
}
