@font-face {
  font-family: Munchkin;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/munchkin.woff2") format("woff2");
}

html {
  background-color: #fafafa;
  height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
  }
}

body {
  -webkit-touch-callout: none;
  user-select: none;
}
