:root {
  /* Insets */
  --inset-bottom: 0rem;
  --inset-left: 0rem;
  --inset-right: 0rem;
  --inset-top: 0rem;

  /* Keyboard */
  --keyboard-height: 0px;
}

@supports (--inset-top: env(safe-area-inset-top)) {
  :root {
    --inset-bottom: env(safe-area-inset-bottom);
    --inset-left: env(safe-area-inset-left);
    --inset-right: env(safe-area-inset-right);
    --inset-top: env(safe-area-inset-top);
  }
}

@font-face {
  font-family: Munchkin;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/munchkin.woff2") format("woff2");
}

html {
  background-color: #fafafa;
  height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
  }
}

body {
  -webkit-touch-callout: none;
  user-select: none;
}
