.sliderContent.bannerVisible {
  padding-bottom: 50px;
}

.slider,
.slider :global(.slick-list),
.slider :global(.slick-track),
.item {
  height: 100%;
}

.slider :global(.slick-list) {
  overflow: hidden;
}

.slider :global(.slick-track) {
  display: flex;
  width: 100% !important;
}

.slider :global(.slick-slide) {
  flex-shrink: 0;
  width: 100%;
}
