.content {
  display: flex;
  flex-direction: column;
}

.players {
  flex: 1;
}

.monsters {
  align-items: flex-end;
  display: flex;
  flex: 1;
}

.total {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.value {
  font-family: 'Munchkin', 'Roboto', sans-serif;
  font-size: 2em;
}

.versus {
  margin: 0 0.5em;
}
