@font-face {
  font-family: 'Munchkin';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/munchkin.woff2) format('woff2'),
    url(./fonts/munchkin.woff) format('woff');
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-touch-callout: none;
  background-color: #fafafa;
  height: 100%;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

#app {
  height: 100%;
  position: relative;
}
