@font-face {
  font-family: 'Munchkin';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/munchkin.woff2) format('woff2'),
    url(./fonts/munchkin.woff) format('woff');
}

html {
  height: 100vh;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fafafa;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  -webkit-touch-callout: none;
  user-select: none;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

#root {
  height: 100%;
  position: relative;
}
