:root {
  --banner-animation-delay: 0.4s;
}

@font-face {
  font-family: 'Munchkin';
  src:
    url('./fonts/munchkin.woff2') format('woff2'),
    url('./fonts/munchkin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

span[type="button"] {
  appearance: none;
  -webkit-appearance: none;
}

a[type="button"] {
  appearance: none;
  -webkit-appearance: none;
}

:global(#app) {
  height: 100%;
}

:global(#banner-container) {
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 100;
}
