:root {
  --app-animation-duration: 0.4s;
}

.itemEnter,
.itemLeave {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.itemEnter {
  transform: scale(0.8);
}

.itemEnterActive {
  transform: scale(1);
  transition: transform var(--app-animation-duration) ease-out;
}

.itemLeave {
  opacity: 1;
  transform: scale(1);
}

.itemLeaveActive {
  opacity: 0.8; /* IE/Edge blink fix */
  transform: scale(0.8);
  transition:
    opacity var(--app-animation-duration) ease-in,
    transform var(--app-animation-duration) ease-in;
}
